:root{
    --white: #ffffff;
    --black: #000000;
    --orange: #ff8c00;
    --gray: #F2F2F2;
    --drop-shadow: #1414144c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

#background{
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-screen{
    background-color: var(--gray);
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 4px 4px 12px var(--drop-shadow);
}

@media screen and (max-width: 768px){
    #login-screen{
        width: 100%;
        height: 100%;
    }
}

h1{
    margin-bottom: 24px;
}

#form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#username{
    margin-bottom: 16px;
    background-color: var(--gray);
    border: none;
    border-bottom: 2px solid var(--black);
    width: 100%;
}

#username:focus{
    outline: none;
}

#password-section{
    display: flex;
}

.hidden-checkbox{
    display: none;
}

#show-password{
    width: 60px;
    height: 30px;
    background: url(show-password.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}

#hide-password{
    width: 60px;
    height: 30px;
    background: url(hide-password.png) no-repeat ;
    background-size: contain;
    cursor: pointer;
}

.checkbox-label.active{
    display: block;
}

.checkbox-label{
    display: none;
}

#password{
    margin-bottom: 16px;
    background-color: var(--gray);
    border: none;
    border-bottom: 2px solid var(--black);
    width: 100%;
}

#password:focus{
    outline: none;
}

input[type="text"]{
    font-size: 20px;
    color: var(--orange);
}

#input-group{
    margin-bottom: 16px;
}

input[type="checkbox"]{
    accent-color: var(--orange);
}

#remember-label, #forget-password{
    color: var(--orange);
}

#remember-label{
    padding-left: 0px;
    padding-right: 8px;
}

#forget-password:hover{
    color: var(--black);
    text-decoration: underline;
    cursor: pointer;
}

button{
    width: 25%;
    height: 10%;
    text-align: center;
    border: 0px;
    border-radius: 4px;
    background-color: var(--black);
    color: var(--orange);
    font-size: 20px;
}

button:hover{
    background-color: var(--orange);
    color: var(--black);
    box-shadow: 4px 4px 12px var(--drop-shadow);
}